header {
 background-color: #404041;
 text-align: center;
}

h1 {
 color: #DD1972;
 font-size: 4em;
 text-align: center;
 padding-top: 25px;
 margin: 0;
 text-transform: uppercase;
 line-height: .75;
 position: relative;
 right: 4px;
}

header p {
 margin: 0;
 color: #f7f7f7;
 padding-bottom: 25px;
 text-transform: uppercase;
 line-height: .75;
}

header div {
  display: block;
  margin: auto;
  width: 550px;
}

/* headlines with lines */
.decorated{
    overflow: hidden;
}

.decorated span{
   position: relative;
   display: inline;
}

.decorated span:before, .decorated span:after{
   content: '';
   position: absolute;
   top: 50%;
   border-bottom: 2px solid #f7f7f7;
   width: 100%;
   margin: 0 20px;
}
.decorated span:before{
   right: 100%;
}
.decorated span:after{
   left: 100%;
}