#score-card h1 {
  font-size: 100px;
  padding: 10px;
}

#divider {
  border: 1px solid #D0D2D3;
}

.challenger-name1,
.challenger-name2 {
  color: #6E6E6E;
}

#guess-result1,
#guess-result2 {
  font-size: 24px;
}