*,
*:before,
*:after {
 font-family: 'Open Sans', sans-serif;
 box-sizing: border-box;
 font-weight: 300;
}

.bold, h5, button {
 font-weight: 700;
}

h1 {
 font-size: 4em;
 text-align: center;
 padding-top: 25px;
 margin: 0;
 text-transform: uppercase;
 line-height: .75;
 position: relative;
 right: 4px;
}

h5 {
  font-size: 26px;
  margin: 5px 5px 5px 0;
}

p {
  margin: 5px 5px 5px 0;
  font-size: 22px;
}

.red-violet, h1 {
  color: #DD1972;
}

.dark-grey, h5 {
  color: #6E6E6E;;
}

.flex {
  display: flex;
}

.jc-space-around {
  justify-content: space-around;
}

.jc-center {
  justify-content: center;
}

.jc-space-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

main {
  max-height: 1000px;
}

.right {
  width: 50%;
  background-color: #dadada;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  overflow: scroll;
}

.left {
  width: 50%;
  background-color: #F7F7F7;
  border-right: 2px solid #6E6E6E;
}

article {
  background-color: #FFF;
  border: 2px solid #D0D2D3;
  margin: 20px;
  padding: 20px;
}

label {
  font-size: 22px;
}

input {
  font-size: 20px;
  padding: 9px 0px;
  margin-top: 5px;
  border: 2px solid #D0D2D3;
}

button {
  background-color: #6E6E6E;
  color: #FFF;
  cursor: pointer;
  border-radius: 30px;
  border-style: none;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 22px;
}

button:hover {
  background-color: #DD1972;
}


.error {
  border: 2px solid #DD1972;
}
  
.error-message {
  color: #DD1972;
} 

.error-message img {
  margin-right: 5px;
}

.hidden {
  display: none;
}









